{# @var craft \craft\web\twig\variables\CraftVariable #}

{%- minify -%}

{% set env = getenv('ENVIRONMENT') %}
{% set baseUrl = url() %}

{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}
<!DOCTYPE html>

{%- endminify -%}

<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

    <head>
        {%- minify -%}
        <link rel="dns-prefetch" href="{{ baseUrl }}" crossorigin>
        <link rel="preconnect" href="{{ baseUrl }}" crossorigin>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="csrf-token-name" content="{{ craft.app.config.general.csrfTokenName }}">
        <meta name="csrf-token" content="{{ craft.app.request.csrfToken() }}">

        {# Project JS #}
        {{ craft.vite.script("src/js/app.ts", false) }}
        {# /Project JS #}
        {{ craft.vite.includeCriticalCssTags('index') }}

        {# -- Tiny Cookie JavaScript -- #}
        <script>
            {{ source("_inline-js/tiny-cookie.min.js") }}
        </script>

        {%- endminify -%}
    </head>

    <body class="first-load loading {% if bodyClass is defined %}{{ bodyClass }}{% endif %}">
    <div id="component-container">
    </div>

        {% block body %}{% endblock %}

    </body>

</html>
